body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
}

a {
  color: #97659;
}

input {
  font-size: 1.5em;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

ul {
  padding-left: 20px;
}

.delete-note-link {
  color: red;
}

#editable {
  border: 1px solid black;
  padding: 20px;
}

#notes-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}
